.u-section-1 .u-sheet-1 {
  min-height: 188px;
}

.u-section-1 .u-image-1 {
  width: 150px;
  height: 91px;
  margin: 23px auto 0;
}

.u-section-1 .u-text-1 {
  width: 334px;
  margin: 23px auto;
} .u-section-2 {
  min-height: 100vh;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin: 60px auto;
}

.u-section-2 .u-repeater-1 {
  min-height: 872px;
  grid-auto-columns: calc(25% - 7.5px);
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-1 {
  padding: 0;
}

.u-section-2 .u-shape-1 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-2 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-3 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-1 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-1 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-1 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-2 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-2 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

.u-section-2 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-2 {
  padding: 0;
}

.u-section-2 .u-shape-4 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-5 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-6 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-3 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-2 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-3 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-4 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-4 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

.u-section-2 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-shape-7 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-8 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-9 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-5 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-3 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-5 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-6 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-6 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

.u-section-2 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-4 {
  padding: 0;
}

.u-section-2 .u-shape-10 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-11 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-12 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-7 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-4 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-7 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-8 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-8 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

.u-section-2 .u-list-item-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-shape-13 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-14 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-15 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-9 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-5 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-9 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-10 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-10 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

.u-section-2 .u-list-item-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-6 {
  padding: 0;
}

.u-section-2 .u-shape-16 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-17 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-18 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-11 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-6 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-11 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-12 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-12 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

.u-section-2 .u-list-item-7 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-shape-19 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-20 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-21 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-13 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-7 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-13 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-14 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-14 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

.u-section-2 .u-list-item-8 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-8 {
  padding: 0;
}

.u-section-2 .u-shape-22 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-23 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-24 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-15 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-8 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-15 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-16 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-16 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

.u-section-2 .u-list-item-9 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-shape-25 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-26 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-27 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-17 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-9 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-17 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-18 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-18 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

.u-section-2 .u-list-item-10 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-10 {
  padding: 0;
}

.u-section-2 .u-shape-28 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-29 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-30 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-19 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-10 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-19 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-20 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-20 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

.u-section-2 .u-list-item-11 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-11 {
  padding: 0;
}

.u-section-2 .u-shape-31 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-32 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-33 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-21 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-11 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-21 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-22 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-22 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

.u-section-2 .u-list-item-12 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-2 .u-container-layout-12 {
  padding: 0;
}

.u-section-2 .u-shape-34 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  height: 0;
  margin-top: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-35 {
  box-shadow: 0px -2px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-shape-36 {
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  margin-top: 0;
  height: 0;
  margin-bottom: 0;
  background-image: none;
}

.u-section-2 .u-image-23 {
  height: 160px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-btn-12 {
  font-weight: 700;
  font-size: 0.625rem;
  background-image: none;
  margin: -26px auto 0 8px;
  padding: 0 7px 2px 5px;
}

.u-section-2 .u-text-23 {
  font-size: 0.625rem;
  margin: 16px 29px 0 8px;
}

.u-section-2 .u-text-24 {
  font-size: 0.625rem;
  font-weight: 700;
  margin: 0 8px;
}

.u-section-2 .u-image-24 {
  width: 72px;
  height: 18px;
  margin: 0 auto 0 8px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    min-height: 827px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    margin-top: 54px;
    margin-bottom: 54px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 7.5px));
    min-height: 719px;
  }

  .u-section-2 .u-image-1 {
    height: 132px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-3 {
    height: 132px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-5 {
    height: 132px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-7 {
    height: 132px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-8 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-9 {
    height: 132px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-10 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-11 {
    height: 132px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-11 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-12 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-13 {
    height: 132px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-13 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-14 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-14 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-15 {
    height: 132px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-16 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-16 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-17 {
    height: 132px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-17 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-18 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-19 {
    height: 132px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-19 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-20 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-20 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-21 {
    height: 132px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-21 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-22 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-22 {
    margin-left: 7px;
  }

  .u-section-2 .u-image-23 {
    height: 132px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: -24px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-23 {
    width: auto;
    margin-top: 13px;
    margin-right: 27px;
    margin-left: 7px;
  }

  .u-section-2 .u-text-24 {
    width: auto;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-image-24 {
    margin-left: 7px;
  }
}

@media (max-width: 991px) {
   .u-section-2 {
    min-height: 1947px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 1846px;
  }

  .u-section-2 .u-image-1 {
    height: 202px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-2 {
    width: 80px;
    height: 20px;
  }

  .u-section-2 .u-image-3 {
    height: 202px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-4 {
    width: 80px;
    height: 20px;
  }

  .u-section-2 .u-image-5 {
    height: 202px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-6 {
    width: 80px;
    height: 20px;
  }

  .u-section-2 .u-image-7 {
    height: 202px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-8 {
    width: 80px;
    height: 20px;
  }

  .u-section-2 .u-image-9 {
    height: 202px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-10 {
    width: 80px;
    height: 20px;
  }

  .u-section-2 .u-image-11 {
    height: 202px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-12 {
    width: 80px;
    height: 20px;
  }

  .u-section-2 .u-image-13 {
    height: 202px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-14 {
    width: 80px;
    height: 20px;
  }

  .u-section-2 .u-image-15 {
    height: 202px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-16 {
    width: 80px;
    height: 20px;
  }

  .u-section-2 .u-image-17 {
    height: 202px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-17 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-18 {
    width: 80px;
    height: 20px;
  }

  .u-section-2 .u-image-19 {
    height: 202px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-20 {
    width: 80px;
    height: 20px;
  }

  .u-section-2 .u-image-21 {
    height: 202px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-21 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-22 {
    width: 80px;
    height: 20px;
  }

  .u-section-2 .u-image-23 {
    height: 202px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: -29px;
  }

  .u-section-2 .u-text-23 {
    margin-top: 19px;
    margin-right: 109px;
  }

  .u-section-2 .u-image-24 {
    width: 80px;
    height: 20px;
  }
}

@media (max-width: 767px) {
   .u-section-2 {
    min-height: 1643px;
  }

  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1542px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-1 {
    height: 149px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-3 {
    height: 149px;
  }

  .u-section-2 .u-btn-2 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-5 {
    height: 149px;
  }

  .u-section-2 .u-btn-3 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-7 {
    height: 149px;
  }

  .u-section-2 .u-btn-4 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-8 {
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-9 {
    height: 149px;
  }

  .u-section-2 .u-btn-5 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-10 {
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-11 {
    height: 149px;
  }

  .u-section-2 .u-btn-6 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-11 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-12 {
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-13 {
    height: 149px;
  }

  .u-section-2 .u-btn-7 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-14 {
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-15 {
    height: 149px;
  }

  .u-section-2 .u-btn-8 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-15 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-16 {
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-17 {
    height: 149px;
  }

  .u-section-2 .u-btn-9 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-17 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-18 {
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-19 {
    height: 149px;
  }

  .u-section-2 .u-btn-10 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-20 {
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-21 {
    height: 149px;
  }

  .u-section-2 .u-btn-11 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-21 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-22 {
    margin-left: 8px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-bottom: 23px;
  }

  .u-section-2 .u-image-23 {
    height: 149px;
  }

  .u-section-2 .u-btn-12 {
    margin-top: -27px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-23 {
    margin-top: 17px;
    margin-right: 11px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-24 {
    margin-right: 3px;
    margin-left: 8px;
  }

  .u-section-2 .u-image-24 {
    margin-left: 8px;
  }
}

@media (max-width: 575px) {
   .u-section-2 {
    min-height: 3796px;
  }

  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
    min-height: 3683px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-1 {
    height: 189px;
  }

  .u-section-2 .u-btn-1 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-2 {
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-3 {
    height: 189px;
  }

  .u-section-2 .u-btn-2 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-4 {
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-5 {
    height: 189px;
  }

  .u-section-2 .u-btn-3 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-5 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-6 {
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-7 {
    height: 189px;
  }

  .u-section-2 .u-btn-4 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-7 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-8 {
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-9 {
    height: 189px;
  }

  .u-section-2 .u-btn-5 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-9 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-10 {
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-11 {
    height: 189px;
  }

  .u-section-2 .u-btn-6 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-11 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-12 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-12 {
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-13 {
    height: 189px;
  }

  .u-section-2 .u-btn-7 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-13 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-14 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-14 {
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-15 {
    height: 189px;
  }

  .u-section-2 .u-btn-8 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-15 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-16 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-16 {
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-17 {
    height: 189px;
  }

  .u-section-2 .u-btn-9 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-17 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-18 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-18 {
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-10 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-19 {
    height: 189px;
  }

  .u-section-2 .u-btn-10 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-19 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-20 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-20 {
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-11 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-21 {
    height: 189px;
  }

  .u-section-2 .u-btn-11 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-21 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-22 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-22 {
    margin-left: 10px;
  }

  .u-section-2 .u-container-layout-12 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-23 {
    height: 189px;
  }

  .u-section-2 .u-btn-12 {
    margin-left: 10px;
  }

  .u-section-2 .u-text-23 {
    margin-right: 58px;
    margin-left: 10px;
  }

  .u-section-2 .u-text-24 {
    margin-right: 17px;
    margin-left: 10px;
  }

  .u-section-2 .u-image-24 {
    margin-left: 10px;
  }
}